.groupdistribution_ratings_table .groupdistribution_rating_impossible {
	background-color: #888;
}
.groupdistribution_ratings_table .groupdistribution_rating_worst {
	background-color: #F60018;
}
.groupdistribution_ratings_table .groupdistribution_rating_bad {
	background-color: #FF8C00;
}
.groupdistribution_ratings_table .groupdistribution_rating_ok {
	background-color: #FFC000;
}
.groupdistribution_ratings_table .groupdistribution_rating_good {
	background-color: #188A00;
}
.groupdistribution_ratings_table .groupdistribution_rating_best {
	background-color: #0969A2;
}
.groupdistribution_ratings_table .groupdistribution_rating_none {
	background-color: #bbb;
}
div.groupdistribution_ratings_box {
	overflow: auto;
	height: 600px;
}
table.groupdistribution_ratings_table {
	border-collapse: separate;
	border-spacing: 1px;
}
.groupdistribution_ratings_table td.groupdistribution_member {
	color: white;
	border: solid black 2px;
}
.groupdistribution_ratings_table td {
	border: solid white 2px;
	text-align: center;
	vertical-align: middle;
}

.groupdistribution_highlight {
	font-weight: bold;
}

div.groupdistribution_user .icons,
div.groupdistribution_user .userpicture,
div.groupdistribution_user .names {
	display: block;
	margin: 5px;
}
